body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  padding: 0;
}

.sidebar li > p {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.36);
  font-weight: 500;
}

.sidebar ul li a {
  color: rgba(0, 0, 0, 0.85);
}

.sidebar-nav > ul > li > ul > li > a {
  font-weight: 500;
}

.app-sub-sidebar li:before {
  content: "";
  padding-right: 4px;
  float: left;
}

.content {
  padding: 0;
}

/* .markdown-section */
.markdown-section {
  margin: 0;
  max-width: none;
  width: 100%;
  min-height: 100vh;
  padding: 30px 40px 40px;
  position: relative;
  overflow: auto;
}

/* table style */
.markdown-section table {
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.markdown-section table thead,
.markdown-section table tbody {
  width: 100%;
  display: inline-block;
}

.markdown-section table tr {
  width: 100%;
  display: flex;
  border: none;
}

.markdown-section table thead tr:nth-child(1) {
  background: #f8f8f8;
}

.markdown-section table thead tr th {
  flex: 1 1;
  text-align: left;
}

.markdown-section table tbody tr td {
  flex: 1 1;
}

.markdown-section table p {
  margin: 0;
}

/* code highlight style */
.markdown-section pre {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #151515;
}
.markdown-section pre code {
  font-family: "Input", "Menlo", "Monaco", Courier, monospace;
  font-weight: 500;
  display: block;
  font-size: 13px;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  /* max-width: 600px; */
  background: transparent;
  color: white;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-right: 40px;
  padding-bottom: 20px;
  position: relative;
  background: #151515;
  /* padding: 20px; */
  border-radius: inherit;
}
pre *::selection {
  background: rgba(255, 255, 255, 0.25) !important;
  color: inherit;
}
pre code::-webkit-scrollbar {
  height: 5px;
}
pre code::-webkit-scrollbar,
pre code::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}
pre:hover code::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
pre code::-webkit-scrollbar-thumb:horizontal:hover,
pre code::-webkit-scrollbar-thumb:vertical:hover {
  background: rgba(255, 255, 255, 0.3);
}
pre > span {
  position: relative;
}
pre:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
}
pre code span {
  line-height: 1.6;
}

code[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: rgba(255, 255, 255, 0.7);
}

/* Code blocks */
pre[class*="language-"] {
  overflow: hidden;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  white-space: normal;
}

h3 .language-typescript .token.parameter,
h3 .language-typescript .token.keyword,
h3 .language-typescript .token.operator,
h3 .language-typescript .token.builtin {
  color: #888;
  font-weight: 500;
}
div[class*="framer-"] h3 > code,
div[class*="framer-"] h3 > code .token,
div[class*="framer-"] h3 > code .token.tag > .token.tag,
div[class*="framer-"] p code {
  color: #333;
  font-weight: 500;
}
div[class*="framer-"] p code {
  font-weight: 600;
}
.framer-function h3 > code {
  color: #888 !important;
}
.framer-property h3 > code {
  color: #333 !important;
}
.framer-property h3 > code .token {
  color: #888 !important;
}

p code,
div > code,
li > code {
  font-family: "Input", "Menlo", "Monaco", Courier, monospace;
  font-weight: 600;
  font-size: 13px;
}
div[class*="framer-"] h5 > code .token.token.punctuation {
  color: #555;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #666;
}

.token.punctuation {
  color: rgba(255, 255, 255, 0.36);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag > .token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffb000;
}

.token.function,
.token.class-name {
  color: #ffb000;
}

.token.attr-name,
.token.number,
.token.keyword {
  color: #aabaed;
}

.token.number {
  color: #de6161;
}

.token.constant {
  color: #61bfde;
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a861de;
}

.token.operator {
  color: rgba(255, 255, 255, 0.36);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: rgba(255, 255, 255, 0.85);
}

.token.atrule,
.token.keyword {
  color: #4772fa;
}

.token.regex,
.token.important,
.token.variable {
  color: rgba(255, 255, 255, 0.85);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/*
.has-highlight-line .line:not(.highlight-line) {
  opacity: 0.4;
  transition: opacity 0.2s;
}

pre:hover .has-highlight-line .line:not(.highlight-line) {
  opacity: 1;
} */

@media (min-width: 700px) {
  /* text code 双栏布局 */
  /* .markdown-section > *:not(pre):not(h1):not(h2):not(h3) {
    display: block;
    padding-right: 40px;
    margin-right: 50%;
    width: 50%;
  }
  .markdown-section > pre {
    float: right;
    width: 50%;
    clear: right;
    white-space: pre-wrap;
  }
  .markdown-section > h1,
  .markdown-section > h2,
  .markdown-section > h3 {
    clear: both;
  } */
  /* code blackground */
  /* .markdown-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: inherit;
    background: #151515;
  } */
  /* title line */
  /* .markdown-section h3::before {
    content: " ";
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #f0f0f0 50%, #1e1e1e 50%);
    position: absolute;
    right: 0;
    transform: translateY(-20px);
  } */
}

/* @media (max-width: 768px) {
  .sidebar {
    left: -300px;
    transition: transform 0.25s ease-out;
  }
  .content {
    left: 0;
    position: static;
    padding-top: 20px;
    transition: transform 0.25s ease;
  }
  body.close .sidebar {
    transform: translateX(300px);
  }
  body.close .content {
    transform: translateX(300px);
  }
} */
